.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.header {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contentHeader {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contentHeader > h2 {
  text-align: left;
  text-transform: capitalize;
}

.contentHeader > span {
  opacity: 0.5;
}

.contentBody {
  text-align: left;
  font-size: 18px;
}

.commentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.commentWrapper > h5 {
  font-size: 16px;
  margin: 0 0 10px 0;
  opacity: 0.6;
}

.commentWrapper > span {
  font-size: 12px;
}
.commentWrapper > p {
  text-align: left;
}

/* user detail page */

.uWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uContent {
  width: 80%;
  display: flex;
  margin-top: 20px;
}

.uLeft,
.uRight {
  margin: 0 5px;
}

.uLeft {
  flex: 2;
}

.uRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uRight > * {
  margin: 5px 0;
}

.uAvatar {
  width: 100px;
  border-radius: 50%;
}
.uContact {
  width: 100%;
}
.uContact > span {
  margin: 0 5px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.5;
  text-transform: lowercase;
}

.uTotal {
  font-size: 30px;
  text-transform: capitalize;
  opacity: 0.5;
}
