.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.back {
  display: block;
  justify-self: start;
  font-size: 16px;
}
.listPosts {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 801px) {
  .listPosts {
    width: 90%;
  }
}

/* single post */
.postWrapper {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 20px;
  text-align: left;
  text-transform: capitalize;
}
.content {
  text-align: left;
  font-size: 18px;
}
